<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<!-- <h1>Home Page</h1> -->
	<!-- <img src="/images/node.jpg" width="60%"> -->
	<header>
		<h1>Restaurante</h1>
		<h2>Carta</h2>
	</header>

	<main>
		<nav>
				<ul>
					<li>Entradas</li>
					<li>Platos Principales</li>
					<li>Ensaladas</li>
					<li>Raw</li>
					<li>Postres</li>
					<li>Desayuno y Merienda</li>
					<li>Bebidas</li>
					<li>Smothies</li>
					<li>Te y Cafe</li>
					<li>Vinos</li>
					<li>Cervezas</li>
				</ul>

				<p>Volver arriba</p>

		</nav>
		<section>
			<article></article>
		</section>


	</main>

	<footer>
		<div>
			<img src="/public/images/logo-web.png" alt="">
		</div>
			<div>
			  <p>Contacto</p>
			  <p>Facebook</p>
			  <p>Twitter</p>
			  <p>Instagram</p>
			</div>

	</footer>

</body>
</html>